/* Css/StyleS.css */
body {
    font-family: 'Inter',sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfafa; /* Color de fondo claro */
    color: #0A0D10; /* Color del texto */
    text-align: center; /* Alineación del texto */
}

*{
    box-sizing: border-box;
}

.contenedorp{
    width: 100%;
    background-color: white;
}

body p {
    top: 40%; /* Centra verticalmente */
    font-size: 40px; /* Tamaño de fuente */
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #212121; /* Color de fondo del encabezado */
    color: rgb(248, 208, 132); /* Color del texto del encabezado */
    padding:10px; /* Espaciado interno */
    height: 80px;
    box-shadow: 10px 0px 0px 10px rgba(000, 000, 000, 0.7);
}

h6 {
    margin: 0; /* Elimina el margen predeterminado */
    font-size: 24px; /* Tamaño de fuente */
    padding: 10px;
}
nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
    word-spacing: 20px; /* Espacio entre palabras */
}

nav ul li {
    display: inline; /* Hace que los elementos de la lista estén en línea 
    margin: 0 15px; /* Espaciado horizontal entre los elementos */
}

nav a {
    color: white; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 18px; /* Tamaño de fuente de los enlaces */
    transition: all 0.5s;
}
nav a:hover {
    color:  rgb(252, 219, 157);
    
}
button.Reservar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vmin;
    font-weight: 600;
    background-color: rgb(250, 196, 96); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    font-size:  15px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */                                       
    height: 50px;
    width: 160px;
    margin-right: 60px;  
}                

button.Reservar a{
    text-decoration: none;
    color:white ;
}

button.Reservar:hover {
    background-color: 
    rgb(252, 205, 125); /* Cambia el color de fondo al pasar el ratón */
}

.img {
    width: 20px;
    height: 10px;
}

:root{
--colums:repeat(3,1fr);
--rows:1fr;   
}

.contenedorp .contenedorcards {
    width: 70%;
    max-width: 1100px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: var(--colums);
    grid-template-rows: var(--rows);
    gap: 25px;
    margin-bottom: 60px;  
}

.contenedorp  .contenedorcards .card{
width: 340px; 
height: 295px;   
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border-radius: 10px;
transition: all 0.3s; 
}
 
.contenedorp .contenedorcards .card:hover {
    transform: scale(105%);
}

.contenedorp .contenedorcards .card p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 20px;
    
}

.contenedorp .contenedorcards .card h3{
    margin: 10px; 
}


.contenedorp  .contenedorcards .card img{
    width: 340px;
    height: 180px; 
    border-radius: 10px 10px 0px 0px;  
}

.contenedorp .footer{
    position: relative;
    width: 100%;
    height: 170px;
    background: #212121;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; 
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
    color:  rgb(252, 219, 157);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    transition: 0.3s;
}

.menu-icon:hover{
   color:  rgb(252, 219, 157);
}

.Credit{
    color: #fff;
}

.Credit span{
 color:  rgb(252, 219, 157);
}
